.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: Helvetica Neue, Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  position:relative;
  overflow: hidden;
}
.logo {
  height: 32px;
  width: 228px;
  z-index: 2;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  padding: 0;
  z-index: 3;
  color: black;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 30px;
  left: 64px;
  color: black;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
 position: absolute;
 object-fit: cover;
 bottom: 0px;
 right: 0px;
 z-index: 1;
 width: 765px;
 height: 608px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  z-index: 0;
  position:absolute;
  background-color: #2f80ed;
}

.content {
  margin: 0;
  padding: 0;
}

.description {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  position: relative;
}
.two-columns {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 100px 0 0 0;
  width: 80%;
}
.two-columns__brief {
  width: 175px;
  padding: 0;
  margin: 0;
  color:#2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  
}
.two-columns__main-text {
  margin: 0;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
} 
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content:space-between;
  align-content: stretch;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
  padding: 0;
}

.feynman {
  background-color: #f2f2f2;
  padding-top: 100px;
  min-height: 890px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position:relative;
  margin: 0;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feynman__title {
  margin: 0 auto;
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 3;
}

.feynman__subtitle {
  padding-top: 70px;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  z-index: 2;
}

.kaufman {
  padding-bottom: 90px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color:#1f1f1f;
  color: white;
}

.section-title_theme_dark {
  padding-top: 90px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  z-index: 3;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 3;
}

.table_theme_dark {
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  z-index: 3;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: 1;
}

.footer {
  background-color: #1f1f1f;
  background-size: cover;
  color: white;
  margin: 0;
  padding-bottom: 40px;
  padding-top: 60px;
  min-height: 350px;
  display: flex;
  flex-direction: row;
  position: relative;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
}
.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
  margin-left: 0;
}

.footer__author {
  margin: 18px auto 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
}

.footer__column_content_info {
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  padding: 20px 0 16px 0;
  list-style-type: none;
  margin: 0;
}

.footer__column_content_social {
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}